<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Timer" Language="1033" Version="0.1.0.0" Manufacturer="Timer" UpgradeCode="956eb7cd-1547-4461-b5b3-edbe9db3607c">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of Timer is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Timer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Timer" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			 <Component Id="ProductComponent"> 
        <File Source="$(var.Timer.TargetPath)" />
			 </Component> 
		</ComponentGroup>
	</Fragment>
</Wix>
